In [1]:
from pathlib import Path
from matplotlib.style import use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from tsfresh import extract_features
from tsfresh import select_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters

dataDir = Path.cwd().parent.parent.parent/'Data/processed/learner_targetCows/'
usecols = ['id', 'MilkingEventDateTime', 'FarmName_Pseudo', 'TrafficDeviceName', 'MilkProduction', 'timeDelta_Seconds', 'LactationNumber', 'DaysInMilk', 'BreedName', 'Age']
threshold_time = 800

# labeling cow with good/bad learner(0/1)
def labeling_data(threshold_time, cow_total):
    global learner
    timeCost = cow_total.timeDelta_Seconds.mean()
    if timeCost > threshold_time:
        learner = 1 # good learner
    else:
        learner = 0 # bad learner
    cow_total['label'] = learner
    return cow_total

In [2]:
# integrate all the cows data into one dataset
filelist = list(Path(dataDir).glob('*.csv'))
for i, _ in enumerate(filelist):
    fileName = 'cow_' + str(i) + '.csv'
    single_cow = pd.read_csv(dataDir/fileName, encoding='utf-8', usecols=usecols)
    single_cow = labeling_data(threshold_time, single_cow)
    single_cow.sort_values(by=['MilkingEventDateTime'], inplace=True)
    if i == 0:
        cow_total = single_cow
    cow_total = pd.concat([cow_total, single_cow])

In [3]:
#df_static_features = cow_total[['FarmName_Pseudo']]
static_cols = ['Age', 'FarmName_Pseudo', 'TrafficDeviceName', 'LactationNumber', 'BreedName', 'DaysInMilk']
timeSeries_cols = ['MilkProduction', 'timeDelta_Seconds']
output_col = ['label']

In [4]:
cow_label = cow_total[['id', 'label']].copy()
cow_timeseries = cow_total[['id', 'MilkingEventDateTime']].copy()
cow_timeseries.index = range(len(cow_timeseries))
# fetch y for feature extraction
y = cow_label.drop_duplicates(subset=['id'])
y = y["label"]
y.index = range(1,len(y)+1)

In [5]:
ts_extracted_dataset = cow_total[['id']].copy()
ts_extracted_dataset.drop_duplicates(subset=['id'], inplace=True)
ts_extracted_dataset.index = range(1, len(ts_extracted_dataset)+1)

In [137]:
cow_timeseries

       id MilkingEventDateTime
0       1  2021-07-05 11:02:14
1       1  2021-07-05 20:52:47
2       1  2021-07-06 06:41:09
3       1  2021-07-06 16:25:11
4       1  2021-07-07 01:39:16
...    ..                  ...
13983  16  2022-08-06 06:38:20
13984  16  2022-08-06 14:50:23
13985  16  2022-08-07 01:52:24
13986  16  2022-08-07 11:38:29
13987  16  2022-08-07 23:03:05

[13988 rows x 2 columns]

In [6]:
for col in timeSeries_cols:
    ts_processed = pd.DataFrame(cow_total[col].copy())
    ts_processed.index = range(0,len(ts_processed)) 
    ts_processed = pd.concat([cow_timeseries, ts_processed], axis=1)
    print(ts_processed)
    # extract time series features
    extracted_features = extract_features(ts_processed, column_id="id", column_sort="MilkingEventDateTime")
    #extracted_features.dropna(axis=1, inplace=True)
    impute(extracted_features)
    features_filtered = select_features(extracted_features, y)
    ts_extracted_dataset = pd.concat([ts_extracted_dataset, features_filtered], axis=1)

       id MilkingEventDateTime  MilkProduction
0       1  2021-07-05 11:02:14            9.07
1       1  2021-07-05 20:52:47            7.67
2       1  2021-07-06 06:41:09            7.12
3       1  2021-07-06 16:25:11            7.31
4       1  2021-07-07 01:39:16            4.30
...    ..                  ...             ...
13983  16  2022-08-06 06:38:20            8.97
13984  16  2022-08-06 14:50:23            6.23
13985  16  2022-08-07 01:52:24            9.98
13986  16  2022-08-07 11:38:29            7.98
13987  16  2022-08-07 23:03:05            9.22

[13988 rows x 3 columns]

Feature Extraction: 100%|██████████| 16/16 [00:07<00:00,  2.15it/s]
d:\Toolbox\python\lib\site-packages\tsfresh\utilities\dataframe_functions.py:198: RuntimeWarning: The columns ['MilkProduction__query_similarity_count__query_None__threshold_0.0'] did not have any finite values. Filling with zeros.
  warnings.warn(

       id MilkingEventDateTime  timeDelta_Seconds
0       1  2021-07-05 11:02:14             6215.0
1       1  2021-07-05 20:52:47               79.0
2       1  2021-07-06 06:41:09              392.0
3       1  2021-07-06 16:25:11               43.0
4       1  2021-07-07 01:39:16              232.0
...    ..                  ...                ...
13983  16  2022-08-06 06:38:20              143.0
13984  16  2022-08-06 14:50:23              114.0
13985  16  2022-08-07 01:52:24             1192.0
13986  16  2022-08-07 11:38:29             1071.0
13987  16  2022-08-07 23:03:05             2602.0

[13988 rows x 3 columns]

Feature Extraction: 100%|██████████| 16/16 [00:07<00:00,  2.21it/s]
d:\Toolbox\python\lib\site-packages\tsfresh\utilities\dataframe_functions.py:198: RuntimeWarning: The columns ['timeDelta_Seconds__query_similarity_count__query_None__threshold_0.0'] did not have any finite values. Filling with zeros.
  warnings.warn(

In [139]:
ts_extracted_features = ts_extracted_dataset.iloc[:, 1:len(ts_extracted_dataset.columns)].copy()
# normalize numerical features
ts_extracted_cols = ts_extracted_features.columns
scaler_std = StandardScaler()
ts_std = scaler_std.fit_transform(ts_extracted_features)
# transform standard data into dataframe
ts_extracted_processed = pd.DataFrame(ts_std, columns=ts_extracted_cols)
ts_extracted_processed.index = range(1,len(ts_extracted_processed)+1)
# append id col to the dataframe
ts_extracted_processed = pd.concat([ts_extracted_dataset['id'], ts_extracted_processed], axis=1)

In [140]:
ts_extracted_processed

    id  ...  timeDelta_Seconds__mean
1    1  ...                -0.982661
2    2  ...                -0.559507
3    3  ...                 1.787649
4    4  ...                 1.766106
5    5  ...                -0.238047
6    6  ...                 0.428731
7    7  ...                -0.899945
8    8  ...                 1.745489
9    9  ...                -0.691563
10  10  ...                 0.061816
11  11  ...                 0.639470
12  12  ...                 0.144726
13  13  ...                -1.100859
14  14  ...                -0.973128
15  15  ...                -0.015468
16  16  ...                -1.112808

[16 rows x 19 columns]

In [141]:
cow_total.BreedName.unique()

array([1, 2, 4], dtype=int64)

In [142]:
# add one-hot encoded categorical features
ohe = OneHotEncoder(handle_unknown='ignore',sparse=False)
cow_breed = cow_total[['id', 'BreedName']].copy()
cow_breed.drop_duplicates(subset=['id'], inplace=True)
cat = ohe.fit_transform(np.array(cow_breed['BreedName']).reshape(-1, 1))
col_names = ohe.get_feature_names_out(['BreedName'])
cat_breed = pd.DataFrame(cat, columns=col_names)
cat_breed.index = range(1,len(cow_breed)+1)
cat_breed

    BreedName_1  BreedName_2  BreedName_4
1           1.0          0.0          0.0
2           0.0          1.0          0.0
3           1.0          0.0          0.0
4           0.0          0.0          1.0
5           0.0          1.0          0.0
6           0.0          1.0          0.0
7           1.0          0.0          0.0
8           0.0          1.0          0.0
9           1.0          0.0          0.0
10          0.0          1.0          0.0
11          0.0          1.0          0.0
12          0.0          1.0          0.0
13          1.0          0.0          0.0
14          0.0          1.0          0.0
15          1.0          0.0          0.0
16          1.0          0.0          0.0

In [143]:
ts_dataset = pd.concat([ts_extracted_processed, cat_breed], axis=1)
ts_dataset = pd.concat([ts_dataset, y], axis=1)
ts_dataset.to_csv(dataDir.parent/"ts_dataset_16_with_cat.csv", index=False)
ts_dataset

    id  ...  label
1    1  ...      0
2    2  ...      0
3    3  ...      1
4    4  ...      1
5    5  ...      0
6    6  ...      1
7    7  ...      0
8    8  ...      1
9    9  ...      0
10  10  ...      1
11  11  ...      1
12  12  ...      1
13  13  ...      0
14  14  ...      0
15  15  ...      1
16  16  ...      0

[16 rows x 23 columns]

In [40]:
from tsfresh.feature_selection.relevance import calculate_relevance_table
rt = calculate_relevance_table(extracted_features, y)
rt

                                                                                              feature  ... relevant
feature                                                                                                ...
timeDelta_Seconds__mean                                                       timeDelta_Seconds__mean  ...     True
timeDelta_Seconds__count_below__t_0                               timeDelta_Seconds__count_below__t_0  ...     True
timeDelta_Seconds__count_above__t_0                               timeDelta_Seconds__count_above__t_0  ...     True
timeDelta_Seconds__quantile__q_0.8                                 timeDelta_Seconds__quantile__q_0.8  ...     True
timeDelta_Seconds__quantile__q_0.7                                 timeDelta_Seconds__quantile__q_0.7  ...     True
...                                                                                               ...  ...      ...
timeDelta_Seconds__value_count__value_0                       timeDelta_Seconds__value_count__value_0  ...    False
timeDelta_Seconds__value_count__value_1                       timeDelta_Seconds__value_count__value_1  ...    False
timeDelta_Seconds__value_count__value_-1                     timeDelta_Seconds__value_count__value_-1  ...    False
timeDelta_Seconds__number_crossing_m__m_-1                 timeDelta_Seconds__number_crossing_m__m_-1  ...    False
timeDelta_Seconds__query_similarity_count__quer...  timeDelta_Seconds__query_similarity_count__que...  ...    False

[789 rows x 4 columns]